{% extends "base.html" %}

{% block content %}


<div class="text-center">
  <h3>{{ title }}</h3>
  <h1>Hello, world! were' working</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
           <p>{{content}}</p>
           <div class="col-sm-6 col-12">
             <form method="post">
               {{ form }} {% csrf_token %}
               <button type="submit" class="btn btn-default">submit</button>
             </form>

              <!-- <form method="POST"> {% csrf_token %}
                
                <input type="text" class="form-contrl" placeholder="name" name="fname">
                <input type="email" class="form-control" placeholder="Email" name="email"> <br>
                <textarea name="message" id="" cols="20" rows="5" placeholder="message"></textarea>
                <button type="submit" class="btn btn-default">submit</button>
              </form> -->
           </div>
        </div>
    </div>
</div>


{% endblock %}
